<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/bienvenida.css">
</head>
<body>
    <nav>
        <div id="derecha">
            <p>Lopez Alegre, Franco - Delgobbo Rossi, Giuliana</p>
        </div>
        <div id="izquierda">
            <p>PAPOTA</p>
            <img src="../imgs/logo_chico.png" alt="">
        </div>
    </nav>
    <main>
        <h1>Biendevido a PAPOTA</h1>
        <div>
            <input type="text" placeholder="Ingrese su nombre">
            <button>Ingresar</button>
        </div>
    </main>
</body>
</html>