<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Papota | Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../style/productos.css" />
  </head>
  <body>
    <nav aria-label="Barra de navegación principal">
      <div id="izquierda">
        <a href="./bienvenida.html" aria-label="Ir al inicio">
          <img src="../imgs/papota_logo_chico.png" alt="Papota" />
        </a>
      </div>
      <div id="derecha">
        <p>LOPEZ ALEGRE, FRANCO - DELGOBBO ROSSI, GIULIANA</p>
      </div>
    </nav>
    <main class="container-fluid py-4">
      <h1 class="mb-4">Bueno</h1>
      <section class="productos">
        <h2 class="titulo-fila">Producto A</h2>
        <div class="contenedor-fila">
          <button class="flecha izquierda" onclick="moverFila('filaA', -1)">&#10094;</button>
          <div id="filaA" class="fila-productos"></div>

          <button class="flecha derecha" onclick="moverFila('filaA', 1)">&#10095;</button>
        </div>

        <hr class="linea-divisoria" />

        <h2 class="titulo-fila">Producto B</h2>
        <div class="contenedor-fila">
          <button class="flecha izquierda" onclick="moverFila('filaB', -1)">&#10094;</button>

          <div id="filaB" class="fila-productos"></div>
          <button class="flecha derecha" onclick="moverFila('filaB', 1)">&#10095;</button>
        </div>
      </section>
      <script src="/front/scripts/main.js"></script>
      <script>
        function moverFila(idFila, dir) {
          const fila = document.getElementById(idFila);
          const width = fila.clientWidth;
          fila.scrollBy({ left: dir * width, behavior: "smooth" });
        }
      </script>
    </main>
  </body>
</html>
