<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Papota | Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../style/productos.css" />
  </head>
  <body>
    <nav aria-label="Barra de navegación principal">
        <div id="nombre-usuario">
          <p class="text-light"></p>
        </div>
        <div id="izquierda">
        <a href="./bienvenida.html" aria-label="Ir al inicio">
          <img src="../imgs/papota_logo_chico.png" alt="Papota" />
        </a>
        
      </div>
      <div id="derecha">
        <p>LOPEZ ALEGRE, FRANCO - DELGOBBO ROSSI, GIULIANA</p>
      </div>
    </nav>
    <main class="container-fluid py-4">
      <h1 class="mb-4">Productos</h1>
      <section class="productos">
        <h2 class="titulo-fila">Suplementos</h2>
        <div class="contenedor-fila">
          <button class="flecha izquierda btn-mover" data-fila="filaA" data-dir="-1">&#10094;</button>
          <div id="filaA" class="fila-productos"></div>
          <button class="flecha derecha btn-mover" data-fila="filaA" data-dir="1">&#10095;</button> 
        </div>

        <hr class="linea-divisoria" />

        <h2 class="titulo-fila">Pesas</h2>
        <div class="contenedor-fila">
          <button class="flecha izquierda btn-mover" data-fila="filaB" data-dir="-1">&#10094;</button>
          <div id="filaB" class="fila-productos"></div>
          <button class="flecha derecha btn-mover" data-fila="filaB" data-dir="1">&#10095;</button>
        </div>
      </section>
      <hr class="linea-divisoria" />
      <div id="div-button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Continuar al Carrito</button>
      </div>
      <script type="module" src="../scripts/producto.js"></script>
      <script type="module" src="../scripts/main.js"></script>
      <script type="module" src="../scripts/productos-pagina.js"></script>
    </main>
  </body>
</html>
