<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type= "image/png" href="../imgs/favicon.png">
        <title>Papota | Ticket</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
        />
        <link rel="stylesheet" href="../style/ticket.css" />
    </head>
    <body>
        <nav class="d-flex justify-content-between align-items-center px-4 py-3">
            <div id="izquierda">
                <img src="../imgs/papota_logo_chico.png" alt="Papota" />
            </div>
            <div id="derecha">
                <p class="m-0">LOPEZ ALEGRE, FRANCO - DELGOBBO ROSSI, GIULIANA</p>
            </div>
        </nav>
        <main>
            <h1>Ticket</h1>
            <div id="ticket">
                <div id="info_empresa">
                    <p>Papota</p>
                    <div id="fecha_hora">
                    </div>                    
                </div>
                <div id="info_usuario">
                </div>                    
                <ul id="productos">
                </ul>
                <div id="total">
                </div>
            </div>
            <button class="btn btn-outline-secondary" type="button" id="inicio">Ir al Inicio </button>
            </main>
        <script src="../scripts/ticket.js"></script>
    </body>
</html>