*{
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    font-family: Bahnschrift;
    background-color: #282828
}

nav {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    height: 100px;
    background-color: #a0f03c;
}

#izquierda {
    display: flex;
    align-items: self-end;
    gap: 20px;
}

#derecha {
    display: flex;
    margin-top: 25px;
}

#derecha p{
    color: #282828;
}

main{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    background-color: #282828
}

h1{
    font-size: 5rem;
    color: #f0f0f0;
}

.input-group {
    width: 400px;
}
p {
    color: #ffffff;
}

#div-button-addon2{
    display: flex;
    justify-content:center;
    padding-bottom: 100px;
}

#button-addon2{
    justify-content: center;
    height: 80px;
    width: 500px;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 5px;
}

#adminLink{
    color: #7e7a7a;
}
