* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    font-family: Bahnschrift;
    background-color: #282828
}

nav {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    height: 100px;
    background-color: #a0f03c;
}

#izquierda {
    display: flex;
    align-items: self-end;
    gap: 20px;
}

#derecha {
    display: flex;
    align-items: center;
    gap: 15px;
}


#derecha p{
    color: #282828;
    font-size: 1.1rem;
    font-weight: 600;
    padding-top: 10px;
}

#container {
    background-color: #f8f8f8;
    position: relative;
    gap: 50px; 
    width: 80px;
    height: 40px;
    box-shadow: inset 4px 4px 6px #cecece,
                inset -4px -4px 6px #fff;
    border-radius: 25px;
    cursor: pointer;
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transform: scale(.7);
    background-color: linear-gradient(145deg, #D8D8D8, #FFFFFF);
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4,
                -3px -3px 8px #fff;
}

#container.active .toggle {
    left: 40px;
    background-color: #282828;
}

body.active {
    background-color: #D8D8D8;    
}

body.active h1{
    color: #282828;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: #f0f0f0;
    margin-bottom: 80px;
    font-size: 4.5rem;;
}

#ticket{    
    width: 700px;
    min-height: calc(300px - 400px);
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-bottom: 70px;
}

#info_empresa{
    display: flex;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content:space-between;
}

#fecha_hora{
    display: flex;
    gap: 30px;
}

#info_usuario{
    display: flex;
    padding-top: 20px;
    padding-left: 50px;
    background-color: #e7e6e6;
}

#productos{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 50px;
}

li{
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding-right: 40px;
    margin-bottom: 5px;
}

hr {
    width: 610px;
}

#total{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-right: 42px;
    margin-left: 52px;
}

#buttonCont{
    display: flex;
    padding: 80px;
    gap: 50px;
}

#inicio, #descargar{
    justify-content: center;
    height: 60px;
    width: 200px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5px;
}

#descargar{    
    width: 250px;
}