<!-- Sidebar -->
<div class="col-md-2 bg-bs-gray-800 sidebar">
	<div class="list-group list-group-flush">
		<a href="/admin/dashboard" class="list-group-item list-group-item-action <%= activo === 'dashboard' ? 'active' : '' %>">
			<i class="bi bi-speedometer2"></i> Dashboard
		</a>
		<a href="/admin/producto/nuevo" class="list-group-item list-group-item-action <%= activo === 'nuevo' ? 'active' : '' %>">
			<i class="bi bi-plus-circle"></i> Nuevo Producto
		</a>
	</div>
	</div>


